@page "{id}"
@model DN_DotNET_gram.Pages.Posts.IndexModel

<div>
    <label asp-for="Post.Name"></label>
    <label asp-for="Post.Name">@Model.Post.Name</label>
</div>
<div>
    <img src="@Model.Post.URL" alt="Post Image"  style="margin:30px" />
</div>
<div>
    <label asp-for="Post.Details"></label>
    <label asp-for="Post.Details">@Model.Post.Details</label>
</div>
<a asp-page="/Posts/Manage" asp-route-id="@Model.Post.ID">Edit Post</a>