@page "{id?}"
@model DN_DotNET_gram.Pages.Posts.ManageModel
@{
    ViewData["Title"] = "Manage";
}
<h1>Manage Post</h1>
<form method="post" enctype="multipart/form-data">
    <label asp-for="Post.Name"></label>
    <input asp-for="Post.Name" />

    <label asp-for="Image"></label>
    <input asp-for="Image" type="file"/>

    <label asp-for="Post.Details"></label>
    <textarea rows="5" asp-for="Post.Details"></textarea>

    <button type="submit">Save Post</button>
    <button type="submit" asp-page-handler="Delete">Delete Post</button>
</form>
